<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="greetings"
		label="Config"
		description="Qlue poll basic configuration."
	>
		<field
            name="recaptureSite"
            type="text"
            label="Recaptcha Site Key"
            description="The v2 Checkbox site key provided by recaptcha"
        />
		<field
            name="recaptureSecret"
            type="text"
            label="Recaptcha Secret Key"
            description="The v2 Checkbox secret key provided by recaptcha"
        />
	</fieldset>
</config>