.eg-icon-published,
.eg-icon-mainimage,
.eg-icon-mainimageonly,
.icon-eg-published,
.icon-eg-mainimage,
.icon-eg-mainimageonly,
.icon-eg-published-inactive,
.icon-eg-mainimage-inactive,
.icon-eg-mainimageonly-inactive,
li.button span.icon-32-eg-published,
li.button span.icon-32-eg-mainimage,
li.button span.icon-32-eg-mainimageonly,
li.button span.icon-32-eg-published-inactive,
li.button span.icon-32-eg-mainimage-inactive,
li.button span.icon-32-eg-mainimageonly-inactive {
	width: 20px !important;
	height: 16px !important;
	display: block;
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	margin-right: 5px;
}

.eg-icon-published,
.icon-eg-published-inactive,
span.icon-32-eg-published-inactive {
	background-position: -43px -16px;
}

.eg-icon-mainimage,
.icon-eg-mainimage-inactive,
span.icon-32-eg-mainimage-inactive {
	background-position: 0 -16px;
}

.eg-icon-mainimageonly,
.icon-eg-mainimageonly-inactive,
span.icon-32-eg-mainimageonly-inactive {
	background-position: -62px -16px;
	margin-right: 0;
}

.active .eg-icon-published,
.icon-eg-published,
span.icon-32-eg-published {
	background-position: -43px 0;
}

.active .eg-icon-mainimage,
.icon-eg-mainimage,
span.icon-32-eg-mainimage {
	background-position: 0 0;
}

.active .eg-icon-mainimageonly,
.icon-eg-mainimageonly,
span.icon-32-eg-mainimageonly {
	background-position: -62px 0;
}

.watermark-preview {
    height: 150px;
    float: left;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.watermark-preview:hover {
    height: 426px;
}

/*
* Order Detail Page
 */
.cart-items .file,
.cart-items .quantity,
.cart-items .displayname,
.cart-items .singleprice,
.cart-items .description
{
	display: block;
}

.cart-items .thumbnail {
	display: inline-block;
}

.eventgallery-image {
	background-size: cover;
}

/**
* CSS grid layout
 */

.eg-bo-row {
	display: flex;
}

.eg-bo-column3 {
	flex-grow: 3;
}

.eg-bo-column9 {
	flex-grow: 9;
}

/**
* Progress bar
 */

.eg-progressbar {
	width: 100%;
	background-color: #fafafa;
	border: 1px solid #eeeeee;
	margin: 20px 0;
}

.eg-progressbar-state {
	background-color: #8dc7ee;
	height: 10px;
	width: 0;
}

.eg-filter-bar select,
.eg-search-bar select {
	margin-right: 10px;
}

.eg-modal-body {
	padding: 0 20px;
}

.eg-modal-body .row {
	margin-left: 0;
}